/* load your fonts here with @font-face */
@font-face {
    font-family: 'IBM PlexSans';
    src: url('fonts/IBMPlexSans-Regular.woff') format('woff'), url('fonts/IBMPlexSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'IBM PlexSans Bold';
    src: url('fonts/IBMPlexSans-Bold.woff') format('woff'), url('fonts/IBMPlexSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  /* css reset */
  /* Andrew will explain what this is and why you want it next class */
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  /* add styling here */
  .container {
    width: 100%;
    max-width: 48rem;
    padding: 0 1rem;
    margin: 10rem auto;
  }