:root {
    --color-bg: #B9CFD4;
    --color-text-main: #FF00F0;
    --image-max-width: 300px;
    --image-margin: -15rm;
    --font-family-header: "Grand Cru";
}
a { text-decoration: none; }
.container {width:960px;
      margin:0 auto;
      padding:10px 25px;
      border:1px solid #ccc;
      background: white; }