/* load your fonts here with @font-face */

h1{
  
  color: black;
  text-decoration: none;
font: normal 50px Ibm Plex Sans;
text-align: left; 
color: #705c68;
} 

h2{
  
  color: black;
  text-decoration: none;
  text-decoration: none;
font: normal 18px Ibm Plex Sans;
text-align: left; 
color: black;
} 
  /* css reset */
  /* Andrew will explain what this is and why you want it next class */
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  /* add styling here */
  .container {
    width: 100%;
    max-width: 48rem;
    padding: 0 1rem;
    margin: 10rem auto;
  }